doctype html
html(lang="en")
  head
    title Bookable YouTube Import
    meta(content='width=device-width, initial-scale=1' 
    name='viewport')
    link(href='//yui.yahooapis.com/pure/0.5.0/pure-min.css' 
    rel='stylesheet')
    link(href='//yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css' 
    rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Open+Sans:700,300,600,400'
    rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'
    rel='stylesheet')
    link(href='/public/css/site.css' rel='stylesheet')
  body
    include ./includes/header.jade
    
    block content
